node_modules
dist
**/tsconfig.tsbuildinfo
**/tsconfig.prod.tsbuildinfo
.vercel
.vscode

# Instead of packages/website we use ** because biome has some weird bug
# where it incorrectly uses the .gitignore file
**/docs/.vitepress/cache
**/docs/.vitepress/dist
**/docs/api/api-reference.md
**/generators/test-examples/output/examples.test.ts
