/* stylelint-disable docusaurus/copyright-header */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d15241;
  --ifm-color-primary-dark: #c74230;
  --ifm-color-primary-darker: #bc3e2d;
  --ifm-color-primary-darkest: #9a3325;
  --ifm-color-primary-light: #d66657;
  --ifm-color-primary-lighter: #d97062;
  --ifm-color-primary-lightest: #e18e83;
  --ifm-code-font-size: 95%;
  --color-border-menu: rgb(230, 235, 240);

  --ifm-font-family-base: Roboto, sans-serif;

  --ifm-menu-link-padding-horizontal: 0;
  --ifm-heading-font-weight: 500;

  /* The lightest shade of gray, responsible for footer and sidebar backgrounds in light mode. */
  --ifm-color-gray-100: #f6f7f9;
}

html[data-theme='light'] {
  --ifm-menu-color-background-active: var(--ifm-color-emphasis-0);
}
html[data-theme='dark'] {
  --ifm-menu-color-background-active: var(--ifm-hover-overlay);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.main--primary {
  background-color: var(--ifm-color-primary-light);
  color: whitesmoke;
}

.navbar__brand > .navbar__logo {
  height: 110%;
  margin-top: -10px;
}

.menu__list-item > a {
  padding: 7px 24px 7px 16px;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent !important;
}
@media (min-width: 997px) {
  .menu__list-item > a {
    border-right: 0px;
  }
}

.footer {
  border-width: 1px;
  border-style: solid;
}

.navbar__item {
  display: block !important;
}

.navbar__toggle {
  display: none !important;
}

/* Syntax Highlighting styles for API Reference headings */

.functionName,
.valueName {
  font-weight: var(--ifm-font-weight-bold);
}
html[data-theme='light'] .functionName,
html[data-theme='light'] .valueName {
  color: var(--ifm-color-primary-dark);
}
html[data-theme='dark'] .functionName,
html[data-theme='dark'] .valueName {
  color: var(--ifm-color-primary-light);
}
.paramType,
.returnType,
.typeParameter,
.typeAnnotation {
  color: var(--ifm-color-emphasis-700);
  font-style: italic;
  font-size: 0.9em;
}
.punctuation {
  color: var(--ifm-color-emphasis-600);
}
